<h2 mat-dialog-title> PLEASE SET YOUR PASSWORD</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
    <div class="container ">
        <form >
          <label for="NewPassword">NewPassword</label><br>
          <input type="text" id="newpassword" name="newpassword"> <br>

      
          <label for="psw">ConfirmPassword</label><br>
          <input type="password" id="psw" name="password">
          
        </form>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Setpassword</button>
  <button mat-button mat-dialog-close style="float: right;">Cancel</button>
 
</mat-dialog-actions>