<!-- <div id="container">

    <header class="clearfix">

        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="material-icons">phone</i> <span>+01 2334
                                853</span></p>
                        <p><i class="material-icons">email</i> <span>email@mycourse.com</span></p>
                    </div>
                    <div class="col-md-6">
                        <div class="right-top-line">
                            <ul class="top-menu">
                                <li><a href="#">Purchase Now</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">News</a></li>
                            </ul>
                            <button class="search-icon">
                                <i class="material-icons open-search">search</i>
                                <i class="material-icons close-search">close</i>
                            </button>
                            <button class="shop-icon">
                                <i class="material-icons">shopping_cart</i>
                                <span class="studiare-cart-number">0</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="search_bar">
            <div class="container">
                <input type="search" class="search-input"
                    placeholder="What are you looking for...">
                <button type="submit" class="submit">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.svg" alt="">
                </a>

                <a href="#" class="mobile-nav-toggle">
                    <span></span>
                </a>

                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="drop-link">
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li class="drop-link">
                            <a href="about.html">Pages <i class="fa
                                    fa-angle-down"></i></a>
                            <ul class="dropdown">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="pricing.html">Pricing Packages</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="single-project.html">Portfolio
                                        Single</a></li>
                                <li><a href="teachers.html">Teachers</a></li>
                                <li><a href="single-teacher.html">Teacher Single</a></li>
                                <li class="drop-link">
                                    <a href="#">Submenu Level 1</a>
                                    <ul class="dropdown level2">
                                        <li><a href="#">Submenu Level 2</a></li>
                                        <li class="drop-link">
                                            <a href="#">Submenu Level 2</a>
                                            <ul class="dropdown level2">
                                                <li><a href="#">Submenu Level 3</a></li>
                                                <li><a href="#">Submenu Level 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Submenu Level 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                            </ul>
                        </li>
                        <li class="drop-link">
                            <a href="blog.html">Blog <i class="fa
                                    fa-angle-down"></i></a>
                            <ul class="dropdown">
                                <li class="drop-link">
                                    <a href="blog-list.html">Blog List</a>
                                    <ul class="dropdown level2">
                                        <li><a
                                                href="blog-list-leftsidebar.html">Blog
                                                List - Sidebar Left</a></li>
                                        <li><a
                                                href="blog-list-rightsidebar.html">Blog
                                                List - Sidebar Right</a></li>
                                        <li><a href="blog-list.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="drop-link">
                                    <a href="blog-grid-3.html">Blog Grid</a>
                                    <ul class="dropdown level2">
                                        <li><a href="blog-grid-3.html">3 Column</a></li>
                                        <li><a href="blog-grid-4.html">4 Column</a></li>
                                        <li><a
                                                href="blog-grid-leftsidebar.html">Sidebar
                                                Left</a></li>
                                        <li><a
                                                href="blog-grid-rightsidebar.html">Sidebar
                                                Right</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog Classic</a></li>
                                <li><a href="single-post.html">Post Single</a></li>
                            </ul>
                        </li>
                        <li class="drop-link">
                            <a href="courses.html">Courses</a>
                        </li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                     <a href="#" class="register-modal-opener login-button"><i
                            class="material-icons">perm_identity</i> Get Started</a> 
                </div>
            </div>
        </nav>

        <div class="mobile-menu">
            <div class="search-form-box">
                <form class="search-form">
                    <input type="search" class="search-field"
                        placeholder="Enter keyword...">
                    <button type="submit" class="search-submit">
                        <i class="material-icons open-search">search</i>
                    </button>
                </form>
            </div>
            <div class="shopping-cart-box">
                <a class="shop-icon" href="cart.html">
                    <i class="material-icons">shopping_cart</i>
                    Cart
                    <span class="studiare-cart-number">0</span>
                </a>
            </div>
            <nav class="mobile-nav">
                <ul class="mobile-menu-list">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="drop-link">
                        <a href="#">Pages</a>
                        <ul class="drop-level">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="pricing.html">Pricing Packages</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="single-project.html">Portfolio Single</a></li>
                            <li><a href="teachers.html">Teachers</a></li>
                            <li><a href="single-teacher.html">Teacher Single</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="single-teacher.html">Teacher Single</a></li>
                            <li class="drop-link">
                                <a href="#">Submenu Level 1</a>
                                <ul class="drop-level">
                                    <li><a href="#">Submenu Level 2</a></li>
                                    <li class="drop-link">
                                        <a href="#">Submenu Level 2</a>
                                        <ul class="drop-level">
                                            <li><a href="#">Submenu Level 3</a></li>
                                            <li><a href="#">Submenu Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Submenu Level 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="drop-link">
                        <a href="blog.html">Blog</a>
                        <ul class="drop-level">
                            <li class="drop-link">
                                <a href="blog-list.html">Blog List</a>
                                <ul class="drop-level">
                                    <li><a href="blog-list-leftsidebar.html">Blog
                                            List - Sidebar Left</a></li>
                                    <li><a href="blog-list-rightsidebar.html">Blog
                                            List - Sidebar Right</a></li>
                                    <li><a href="blog-list.html">No Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="drop-link">
                                <a href="blog-grid-3.html">Blog Grid</a>
                                <ul class="drop-level">
                                    <li><a href="blog-grid-3.html">3 Column</a></li>
                                    <li><a href="blog-grid-4.html">4 Column</a></li>
                                    <li><a href="blog-grid-leftsidebar.html">Sidebar
                                            Left</a></li>
                                    <li><a href="blog-grid-rightsidebar.html">Sidebar
                                            Right</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog Classic</a></li>
                            <li><a href="single-post.html">Post Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="courses.html">Courses</a>
                    </li>
                    <li>
                        <a href="events.html">Events</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

    </header> -->


<!-- End Header -->

<!-- page-banner-section 
			================================================== -->
<!-- <section class="page-banner-section">
        <div class="container">
            <h1>About Us</h1>
            <ul class="page-depth">
                <li><a href="index.html">Studiare</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
    </section> -->
<!-- End page-banner-section 

    <div class="header">
        <mat-toolbar>
          <mat-toolbar-row>
            <a><button mat-button routerLink="/user">Digibasta</button></a>
            <mat-nav-list style="display: flex">
              <button mat-button [matMenuTriggerFor]="categoriesMenu">Categories
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
            </mat-nav-list> -->

<!-- categories menu -->

<!-- <mat-menu #categoriesMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="classOneMenu">NCERT Class 1</button>
              <button mat-menu-item [matMenuTriggerFor]="classTwoMenu">NCERT Class 2</button>
              <button mat-menu-item [matMenuTriggerFor]="classThreeMenu">NCERT Class 3</button>
              <button mat-menu-item [matMenuTriggerFor]="classFourMenu">NCERT Class 4</button>
              <button mat-menu-item [matMenuTriggerFor]="classFiveMenu">NCERT Class 5</button>
            </mat-menu> -->

<!-- class one menu -->

<!-- <mat-menu #classOneMenu="matMenu">
              <button mat-menu-item>Hindi</button>
              <button mat-menu-item>English</button>
              <button mat-menu-item>Mathematics</button>
            </mat-menu> -->

<!-- class Two menu -->

<!-- <mat-menu #classTwoMenu="matMenu">
              <button mat-menu-item>Hindi</button>
              <button mat-menu-item>English</button>
              <button mat-menu-item>Mathematics</button>
            </mat-menu> -->

<!-- class Three menu -->

<!-- <mat-menu #classThreeMenu="matMenu">
              <button mat-menu-item>Hindi</button>
              <button mat-menu-item>English</button>
              <button mat-menu-item>Mathematics</button>
              <button mat-menu-item>Environmental Science</button>
            </mat-menu> -->

<!-- class Four menu -->

<!-- <mat-menu #classFourMenu="matMenu">
              <button mat-menu-item>Hindi</button>
              <button mat-menu-item>English</button>
              <button mat-menu-item>Mathematics</button>
              <button mat-menu-item>Environmental Science</button>
            </mat-menu> -->

<!-- class Five menu -->

<!-- <mat-menu #classFiveMenu="matMenu">
              <button mat-menu-item>Hindi</button>
              <button mat-menu-item>English</button>
              <button mat-menu-item>Mathematics</button>
              <button mat-menu-item>Environmental Science</button>
            </mat-menu> -->

<!-- <span class="example-spacer"></span>
            <mat-nav-list style="display: flex">
              <button mat-button style="color: whitesmoke !important;">My Learning</button>
              <button mat-button>Services</button>
              <button mat-button>Blogs</button>
              <button mat-button routerLink='profile'>Profile</button>
              <button mat-raised-button routerLink='login' class="signIn_btn">Sign In</button>
              <button mat-raised-button routerLink='signup' class="signIn_btn">Sign Up</button>
              <button mat-button class="cart" routerLink='cart'>
                <mat-icon matBadge="15" matBadgeColor="warn">local_mall</mat-icon>
              </button>
            </mat-nav-list>
          </mat-toolbar-row>
        </mat-toolbar>
      </div> -->

<!-- <div style="padding-top: 5px;">
        <router-outlet></router-outlet>
      </div> -->

<header id="header" class="fixed-top">
    <div class="d-flex align-items-center">
        <h1 class="logo me-auto"><a routerLink="/user/home"><span>Digi</span>basta</a></h1>
         <mat-toolbar id="navbar" class="navbar order-last order-lg-0">            
             <ul>
                <li><a routerLink="/user/home" class="active">Home</a></li>    
                <li><a routerLink="/user/course">Courses</a></li>
                <!-- <li><a href="portfolio.html">Study Material</a></li> -->
              <li> <a mat-button [matMenuTriggerFor]="categoriesMenu">Study Material
                    <mat-icon>arrow_drop_down</mat-icon>
              </a> </li> 
               
      
                <li><a routerLink="/user/teachers">Instuctor</a></li>
                
                <li><a routerLink="/user/contact-us">Contact Us</a></li>
                <li><a routerLink="/user/about-us">About Us</a></li>
                <li><a routerLink="/user/learning">My Learning</a></li>
            </ul>
            <span class="example-spacer"></span>
            
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/user/cart" >
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/user/profile">
                <mat-icon>person</mat-icon>
            </button>

            <mat-menu #categoriesMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="classOneMenu">NCERT Class 1</button>
                <button mat-menu-item [matMenuTriggerFor]="classTwoMenu">NCERT Class 2</button>
                <button mat-menu-item [matMenuTriggerFor]="classThreeMenu">NCERT Class 3</button>
                <button mat-menu-item [matMenuTriggerFor]="classFourMenu">NCERT Class 4</button>
                <button mat-menu-item [matMenuTriggerFor]="classFiveMenu">NCERT Class 5</button>
              </mat-menu> 
  
  <!-- class one menu -->
  
   <mat-menu #classOneMenu="matMenu">
                <button mat-menu-item routerLink="/user/course">Hindi</button>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Mathematics</button>
              </mat-menu> 
  
  <!-- class Two menu -->
  
   <mat-menu #classTwoMenu="matMenu">
                <button mat-menu-item>Hindi</button>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Mathematics</button>
              </mat-menu> 
  
  <!-- class Three menu -->
  
   <mat-menu #classThreeMenu="matMenu">
                <button mat-menu-item>Hindi</button>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Mathematics</button>
                <button mat-menu-item>Environmental Science</button>
              </mat-menu> 
  
  <!-- class Four menu -->
  
   <mat-menu #classFourMenu="matMenu">
                <button mat-menu-item>Hindi</button>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Mathematics</button>
                <button mat-menu-item>Environmental Science</button>
              </mat-menu> 
  
  <!-- class Five menu -->
  
   <mat-menu #classFiveMenu="matMenu">
                <button mat-menu-item>Hindi</button>
                <button mat-menu-item>English</button>
                <button mat-menu-item>Mathematics</button>
                <button mat-menu-item>Environmental Science</button>
              </mat-menu> 


        </mat-toolbar>




    </div>
</header><!-- End Header -->