.title-course {
    letter-spacing: -0.4px;
    padding-right: 20px;
  }
  
  .header-inner-pages p {
    margin-bottom: 0;
  }
  
  .flat-lh-25 {
    line-height: 25px;
  }
  
  .flat-pdr-100 {
    padding-right: 100px;
  }
  
  .flat-row.course {
    border-bottom: 1px solid #efefef;
  }
  
  .flat-row.popular-course {
    padding: 93px 0 98px;
  }
  
  .flat-row.popular-course .featured-post {
    /* cursor: ; */
  }
  
  .flat-row.join-us,
  .flat-row.about-us {
    padding: 0;
  }
  
  .flat-row.join-us .counter-content {
    margin-bottom: 26px;
    text-align: center;
  }
  
  .flat-row.join-us .numb-counter {
    display: inline-block;
  }
  
  .flat-row.join-us .numb-count {
    color: #ffaa30;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
  }
  
  .flat-row.join-us .counter-content span {
    font-size: 20px;
    color: #888888;
  }
  
  .flat-row.join-us p {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    padding: 0 124px;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
  }
  .flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 93px 0 92px;
  }
  
  .flat-row.row-bg {
    background-color: #a2adeb;
  }
  
  .flat-row.pad-top-134 {
    padding-top: 134px;
  }
  
  .flat-row.pad-top-100 {
    padding-top: 100px;
  }
  
  .flat-row.pad-bottom-100 {
    padding-bottom: 100px;
  }
  
  .flat-row.pad-bottom-30 {
    padding-bottom: 30px;
  }
  
  .pad-top-96 {
    padding-top: 96px;
  }
  
  .fr {
    float: right;
  }
  
  .mgbt-36 {
    margin-bottom: 36px;
  }
  
  .mgbt-17 {
    margin-bottom: 17px;
  }
  
  .mgbt-48 {
    margin-bottom: 48px;
  }
  
  .mgbt-26 {
    margin-bottom: 26px;
  }
  .flat-course-images {
    margin-right: -6px;
    padding-top: 6px;
  }
  
  .flat-course-images li {
    display: inline-block;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
  }
  
  .flat-course-images li:after {
    background: #fff;
    content: "";
    height: 300px;
    left: -150px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
  
  .flat-course-images li:hover:after {
    left: 130%;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  /* New Grid View CSS */
  #hero {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.8); */
    overflow: hidden;
    position: relative;
  }
  
  #hero .carousel,
  #hero .carousel-inner,
  #hero .carousel-item,
  #hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 70px;
    left: 55px;
    right: 55px;
  }
  
  #hero .carousel-content {
    background: rgba(4, 4, 4, 0.7);
    padding: 20px;
    color: #fff;
    border-top: 5px solid #1bbd36;
  }
  
  #hero .carousel-content h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
  }
  
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1bbd36;
  }
  
  #hero .btn-get-started:hover {
    background: #1bbd36;
    color: #fff;
    text-decoration: none;
  }
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #hero .carousel-control-next-icon:hover,
  #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.8);
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: #1bbd36;
  }
  
  @media (min-width: 1024px) {
    #hero .carousel-content {
      width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 992px) {
    #hero .carousel-container {
      top: 58px;
    }
    #hero .carousel-content h2 {
      margin-bottom: 15px;
      font-size: 22px;
    }
    #hero .carousel-content p {
      font-size: 15px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  /* Vedantu CSS */
  .featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  
  .featured-services .icon-box::before {
    content: "";
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .featured-services .icon-box:hover::before {
    background: #106eea;
    top: 0;
    border-radius: 0px;
  }
  
  .featured-services .icon {
    margin-bottom: 15px;
  }
  
  .featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #106eea;
    transition: all 0.3s ease-in-out;
  }
  
  .featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .featured-services .title a {
    color: #111;
  }
  
  .featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .featured-services .icon-box:hover .title a,
  .featured-services .icon-box:hover .description {
    color: #fff;
  }
  
  .featured-services .icon-box:hover .icon i {
    color: #fff;
  }
  section {
    padding: 60px 0;
    overflow: hidden;
  }

  .testimonial-image{
      width : 110px;
      height: 110px;
      margin: 0 auto;
  }
  .testimonial-image img {
     border-radius: 50%;
     border: 5px solid rgba(255, 255, 255, .1) ;
     width: 100%;
     height: 100%;
  }
  .testimonial-content h2{
      font-size: 16px;
      color: #ff4000;
      font-weight: 600;
      text-transform: uppercase;
      margin: 18px 0 .5rem;
      line-height: 1.2px;
  }
  .testimonial-content h3 {
     font-size: 18px;
     color: #fff;
      line-height: 16px;
      margin: 8px 0 10px;
      letter-spacing: 0.5px;

  }
  .testimonial-content p {
      position: relative;
      margin: 28px 30% 70px 30%;
      font-style: italic;
      font-size: 15px;
      color: #ccc;
      line-height: 23px;
  }
  .testimonial-content p ::before{
    content: '\f10d';
    font-family: FontAwesome;
    position: absolute;
    left: -15px;
    top: -50px;
    font-size: 42px;
    color: rgba(255, 255, 255, .1);

  }
  .testimonial-content p ::after{
      content: '\f10e';
      font-family: FontAwesome;
      position: absolute;
      right: -15px;
      bottom: 0;
      font-size: 42px;
      color: rgba(255, 255, 255, .1);

      
}

.card-img, .card-img-bottom, .card-img-top {
  width: 50% !important;
}
  


  /* Vedantu Discover CSS */
  