<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide
        carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox"  >
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image:
                url(../../../../../assets/finalimages/HOW-MUCH-OUR-STUDENTS.png); background-size: 1570px 550px;">
               
            </div>
        </div>
    </div>
</section>

<div class="container margin_120_95">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Why DigiBasta courses preferred</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <!-- <img class="image" src="../../../../../assets//finalimages/qulified-teacher.png" alt="not add "> -->
                <img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap">
                <h3>Qualified teachers </h3>
                <p>We have excellent qualified teachers who are able to flourish the future of your child. Interactive examples and lucid way of teaching results in concept building and Good understanding of the subject.</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <img class="card-img-top" src="../../../../../assets/finalimages/eqauipied-class11.png" alt="Card image cap">
                <h3>Equiped class rooms</h3>
                <p>We have smart classes equipped with Digital board technology that helps student to understand concept very easily and interestingly. Live examples and 3D illustration makes the learning very easy.. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <img class="card-img-top" src="../../../../../assets/finalimages/focus-on-success-11.png" alt="Card image cap">
                <h3>Child psychology</h3>
                <p>We have a team of experts who understand the psychology or behaviour of children and using different pedagogical tools. We have qualified teachers who understand the different approaches of learning and allow your child to take keen interest in learning.</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <img class="card-img-top" src="../../../../../assets/finalimages/focus-on-target-11.png" alt="Card image cap">
                <h3>Regular counselling </h3>
                <p>We regularly counsel students for a good career option and provide them right suggestion regarding right courses. We counsel children for removing anxiety, stress, depression and grief so that they can choose a right career path. </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <img class="card-img-top" src="../../../../../assets/finalimages/education-image-H.jpg" alt="Card image cap">
                <h3>Regular assessment</h3>
                <p>We continuously assess our children and if find any gap between their learning and understanding then we diagnose the difficulties and use remedial teaching to fetch their appropriate solutions.</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="box_feat" href="#">
                <img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap">
                <h3>Convenient and safe </h3>
                <p>In times of crises we are providing a safe and convenient mode of learning Through our Digibasta digital Learning platform.Our Online training courses provides safe and effective alternative than regular physical classroom.  </p>
            </a>
        </div>
    </div>
    <!--/row-->
</div>
<div class="main_title_2">
    <span><em></em></span>
    <h2>Discover DigiBasta a new way of Learning</h2>
</div>
<section class="videotestnonial">

    <div class="containers">
        <owl-carousel-o [options]="testimonialvideo">
            <ng-template carouselSlide>
                <div class="testimonial-video">
                    <iframe src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-video">
                    <iframe src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-video">
                    <iframe src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </ng-template>


        </owl-carousel-o>


    </div>

</section>

<!-- Why Learn on Digibasta -->

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Why learn on Digibasta</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5
                mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"> <img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap"></div>
                    <h4 class="title"><a href="">Qualified best teacher</a></h4>
                    <p class="description">We have best qualified and updated teacher staff.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5
                mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap"></div>
                    <h4 class="title"><a href="">Digital classroom</a></h4>
                    <p class="description">We are ensure to providing digital and interactive classroom experience </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5
                mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap"></div>
                    <h4 class="title"><a href="">Convenient learning</a></h4>
                    <p class="description">We provide a convenient and easy way of learning</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5
                mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><img class="card-img-top" src="../../../../../assets/finalimages/qulified-teacher.png" alt="Card image cap"></div>
                    <h4 class="title"><a href="">Free online classes</a></h4>
                    <p class="description">We are providing free online classes on different social media platform</p>
                </div>
            </div>

        </div>
  </div>
  </section>
    

<div class="main_title_2">
    <span><em></em></span>
    <h2>How Much our Students Love us </h2>
</div>
<section class="videotestnonial mb-3">

    <div class="containers">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../../../../../assets/basta.jpeg">
                    <!-- <iframe  src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
                <div class="testimonial-content text-center">
                    <h2>Mrs Pallavi ram nayak</h2>
                    <h3> Parents reviews</h3>
                    <p> This make me joyful that my son is taking keen interest in leaning through this platform and I want warmly thanks to the team of e padagouge
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image ">
                    <img src="../../../../../assets/basta.jpeg">
                    <!-- <iframe  src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
                <div class="testimonial-content text-center">
                    <h2>Mrs Sarmishta seth</h2>
                    <h3> Parents reviews</h3>
                    <p> This is a boon to all the aspirant in this epedemic and we feel proud to found this platform

                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../../../../../assets/basta.jpeg">
                    <!-- <iframe  src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
                <div class="testimonial-content text-center">
                    <h2>Mrs Seema nagarajan</h2>
                    <h3> Parents reviews</h3>
                    <p> This is such a different way to introduce learning and provide us workframe.

                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../../../../../assets/basta.jpeg">
                    <!-- <iframe  src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
                <div class="testimonial-content text-center">
                    <h2>Mrs Seema nagarajan</h2>
                    <h3> Parents reviews</h3>
                    <p>  <ng-template carouselSlide>
                        <div class="testimonial-image">
                            <img src="../../../../../assets/basta.jpeg">
                            <!-- <iframe  src="https://www.youtube.com/embed/uFWNT0vFM2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        </div>
                        <div class="testimonial-content text-center">
                            <h2>Mr Alok Nath sharma</h2>
                            <h3> Parents reviews</h3>
                            <p> This is such a different way to introduce learning and provide us workframe.
        
                            </p>
                        </div>
                    </ng-template>

                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>


    </div>

</section>







<!-- Vedantu Discover -->