<div style="background: url(../../../assets/bg/home-bg.jpg)" class="page-holder bg-cover">
  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="mat-display-4 fw-bold">Welcome To Digibasta</h1>
      <h3 class="mat-display-3">India's #1 Online e-Learning Courses</h3>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-6 text-white text-center">
          <div class="text-card">
          <h1>Complete NECRT Courses</h1>
          <h1>Well Experienced Teacher</h1>
          <h1>Interactive 3-D Learning</h1>
        </div>
        </div>
        <div class="col-6">
          <iframe width="500" height="345" src="https://www.youtube.com/embed/pa5t-DM8uYA">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
