.page-holder {
  height: 600px;
}

.bg-cover {
  background-size: cover !important;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  letter-spacing: normal;
  margin: 0 0 16px;
}

.text-card{
  width: 350px;
  height: 150px;
  padding-top: 10px;
  background-color: #744241;
  border-radius: 3px;
}
