<main>
  <section id="hero_in" class="courses">
    <div class="wrapper">
      <div class="container">
        <h1 class="fadeInUp"><span></span>Online courses</h1>
      </div>
    </div>
  </section>
  <div class="container">
<div class="row  mt-2">
  
  <div class="col-lg-3 col-md-3 col-sm-6"  *ngFor= "let course of courses">
    <div class="course-post">
      <div class="course-thumbnail-holder">
        <a routerLink="/user/course-detail">
          <img src="../../../../../assets/kunika-mam-2.jpg" alt="">
        </a>
      </div>
      <div class="course-content-holder">
        <div class="course-content-main" >
          <h2 class="course-title">
            <a routerLink="/user/course-detail">{{course.courseName}}</a>
          </h2>
          <div class="course-rating-teacher">
            <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
            </div>
          </div>
        </div>
        <div class="course-content-bottom">
          <div class="course-students">
            <i class="material-icons">shopping_cart</i>
            
          </div>
          <div class="course-price">
            <span>&#x20B9;{{course.price}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="course-post">
      <div class="course-thumbnail-holder">
        <a routerLink="/user/course-detail">
          <img src="../../../../../assets/kunika-mam-2.jpg" alt="">
        </a>
      </div>
      <div class="course-content-holder">
        <div class="course-content-main" >
          <h2 class="course-title">
            <a routerLink="/user/course-detail">Science class 5</a>
          </h2>
          <div class="course-rating-teacher">
            <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
               <span style="width:100%">
                <span class="rating">5.00</span>
                
              </span> 
            </div>
            <a href="#" class="course-loop-teacher">Duha Samra</a> 
          </div>
        </div>
        <div class="course-content-bottom">
          <div class="course-students">
            <i class="material-icons">shopping_cart</i>
            
          </div>
          <div class="course-price">
            <span>&#x20B9;244</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="course-post">
      <div class="course-thumbnail-holder">
        <a routerLink="/user/course-detail">
          <img src="../../../../../assets/teacher1.jpg" alt="">
        </a>
      </div>
      <div class="course-content-holder">
        <div class="course-content-main">
          <h2 class="course-title">
            <a routerLink="/user/course-detail">Special Education Needs Teaching</a>
          </h2>
          <div class="course-rating-teacher">
            <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
              <span style="width:100%">
                <span class="rating">3.50</span>
                <span class="votes-number">2 Votes</span>
              </span>
            </div>
            <a href="#" class="course-loop-teacher">Leon Redding</a>
          </div>
        </div>
        <div class="course-content-bottom">
          <div class="course-students">
            <i class="material-icons">group</i>
            <span>134</span>
          </div>
          <div class="course-price">
            <span>£74.99</span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
</main>