<section class="teachers-section">
    <div class="container">
        <div class="teachers-box">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a routerLink="/user/teacher-details">
                            <img src="../../../../../assets/teacher6.jpg" alt="">
                            <div class="hover-post">
                                <h2>Michael Arnet</h2>
                                <span>Photographer</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher4.jpg" alt="">
                            <div class="hover-post">
                                <h2>Leslie Williams</h2>
                                <span>Math</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher7.jpg" alt="">
                            <div class="hover-post">
                                <h2>John Maddix</h2>
                                <span>Chemical Engineering</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher8.jpg" alt="">
                            <div class="hover-post">
                                <h2>Linda Castello</h2>
                                <span>Teacher Training</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher1.jpg" alt="">
                            <div class="hover-post">
                                <h2>Dinna Joakimsen</h2>
                                <span>Computer Science</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher3.jpg" alt="">
                            <div class="hover-post">
                                <h2>Leon Redding</h2>
                                <span>Web Developer</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher1.jpg" alt="">
                            <div class="hover-post">
                                <h2>Duha Sampra</h2>
                                <span>Physics</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="teacher-post">
                        <a href="single-teacher.html">
                            <img src="../../../../../assets/teacher8.jpg" alt="">
                            <div class="hover-post">
                                <h2>Olivia Barham</h2>
                                <span>Communication</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</section>
