<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Digibasta</span>
      <span class="example-spacer"></span>
      <mat-nav-list style="display: flex">
        <a mat-list-item>Courses
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <a mat-list-item>Services</a>
        <a mat-list-item>Categories</a>
        <a mat-list-item>About</a>
        <a mat-list-item>Technologies</a>
        <a mat-list-item>Carrers</a>
        <a mat-list-item>Blogs</a>
        <a mat-list-item>Profile</a>
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
