<!-- <div class="login">
    <div class="container-login">
       <div class="logo">
        <img src="../../assets/images/logo.png" width=200>
      </div> 
      <mat-card>
        <mat-card style="background-color: #5d5763; color:white">
          <h2>Sign Up</h2>
        </mat-card>
        <div class="login-form">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" placeholder="Full Name" formControlName="name">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input matInput type="number" placeholder="Mobile" formControlName="mobile">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
  
            <button mat-raised-button type="submit" color="primary">Create My Account</button>
          </form>
        </div>
        <div class="container mt-4">
          <div class="row">
            <button mat-button (click)="signIn()">Already Had An Account SignIn Now</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div> -->


  <!-- <div id="register_bg">
    <nav id="menu" class="fake_menu"></nav>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	 End Preload 
	
	<div id="login">
		<aside>
			<figure>
				<a href="index.html"><img src="img/logo.png" width="149" height="42" alt=""></a>
			</figure>
			<form autocomplete="off">
				<div class="form-group">

					<span class="input">
					<input class="input_field" type="text">
						<label class="input_label">
						<span class="input__label-content">Your Name</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="text">
						<label class="input_label">
						<span class="input__label-content">Your Last Name</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="email">
						<label class="input_label">
						<span class="input__label-content">Your Email</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="password" id="password1">
						<label class="input_label">
						<span class="input__label-content">Your password</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="password" id="password2">
						<label class="input_label">
						<span class="input__label-content">Confirm password</span>
					</label>
					</span>
					
					<div id="pass-info" class="clearfix"></div>
				</div>
				<a href="#0" class="btn_1 rounded full-width add_top_30">Register to Udema</a>
				<div class="text-center add_top_10">Already have an acccount? <strong><a href="login.html">Sign In</a></strong></div>
			</form>
			<div class="copy">© 2021 Udema</div>
		</aside>
	</div> 

  </div> -->

  <div class="container">
    <div class="forms-container">
        <div class="signin-signup">
          <form action="" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="FirstName" required>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="LastName" required>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Email" required>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="number" placeholder="Number" required>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder=" Your Password" required>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder= "Confirm Password" required>
            </div>
            <input type="submit" value="Sign up" class="btn solid">
    
            <p class="social-text">Or Sign up with social platform</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
    </div>

   
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Already have an Account</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit culpa sit, deserunt est esse cum vero
            temporibus quod voluptate obcaecati?</p>
           <button class="btn transparent" id="sign-up-btn" routerLink="/user/login">Sign in</button> 
        </div>
        <img src="../../../../../assets/bg/log.svg" alt="" class="image">
      </div>

    </div>
</div>
  
