<div class="container-fluid" style="background-color: rgb(21 23 39); height: 330px; margin-top: -50px; color: #fff">
  <div class="row">
    <div class="col-7 display-4 p-3 fw-normal">Class 3rd English Grammar – Video Tutorial
      <h3>Znam</h3>
      <p class="fs-3">This course covers the complete NCERT / CBSE course based syllabus with all chapters of Class 3rd English
        Grammar which has been taught topic wise</p>
    </div>
    <div class="col-5 p-3">
      <div class="card">
        <img src="../../../../../assets/bg/znam.png" class="card-img-top" alt="..." height="300">
      </div>
    </div>
  </div>
</div>
