<!-- <app-header></app-header> -->


 <!-- <div class="page-wrapper">
  <div id="slider" class="slider">
    
    <div class="slide">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nNhv8A_rJTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div> 
    

    <div class="slide">
      <div class="video-wrap">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ctVAt8WGwJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
    </div>
 </div>
  
</div>   -->
<!-- page-wrapper -->
<!-- <div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <a><button mat-button routerLink="/user">Digibasta</button></a>
      <mat-nav-list style="display: flex">
        <button mat-button [matMenuTriggerFor]="categoriesMenu">Categories
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </mat-nav-list> -->

      <!-- categories menu -->

      <!-- <mat-menu #categoriesMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="classOneMenu">NCERT Class 1</button>
        <button mat-menu-item [matMenuTriggerFor]="classTwoMenu">NCERT Class 2</button>
        <button mat-menu-item [matMenuTriggerFor]="classThreeMenu">NCERT Class 3</button>
        <button mat-menu-item [matMenuTriggerFor]="classFourMenu">NCERT Class 4</button>
        <button mat-menu-item [matMenuTriggerFor]="classFiveMenu">NCERT Class 5</button>
      </mat-menu> -->

      <!-- class one menu -->

      <!-- <mat-menu #classOneMenu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Mathematics</button>
      </mat-menu> -->

      <!-- class Two menu -->

      <!-- <mat-menu #classTwoMenu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Mathematics</button>
      </mat-menu> -->

      <!-- class Three menu -->

      <!-- <mat-menu #classThreeMenu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Mathematics</button>
        <button mat-menu-item>Environmental Science</button>
      </mat-menu> -->

      <!-- class Four menu -->

      <!-- <mat-menu #classFourMenu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Mathematics</button>
        <button mat-menu-item>Environmental Science</button>
      </mat-menu> -->

      <!-- class Five menu -->

      <!-- <mat-menu #classFiveMenu="matMenu">
        <button mat-menu-item>Hindi</button>
        <button mat-menu-item>English</button>
        <button mat-menu-item>Mathematics</button>
        <button mat-menu-item>Environmental Science</button>
      </mat-menu> -->

      <!-- <span class="example-spacer"></span>
      <mat-nav-list style="display: flex">
        <button mat-button style="color: whitesmoke !important;">My Learning</button>
        <button mat-button>Services</button>
        <button mat-button>Blogs</button>
        <button mat-button routerLink='profile'>Profile</button>
        <button mat-raised-button routerLink='login' class="signIn_btn">Sign In</button>
        <button mat-raised-button routerLink='signup' class="signIn_btn">Sign Up</button>
        <button mat-button class="cart" routerLink='cart'>
          <mat-icon matBadge="15" matBadgeColor="warn">local_mall</mat-icon>
        </button>
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->

<!-- <div style="padding-top: 5px;">
  <router-outlet></router-outlet>
</div> -->
<!-- <router-outlet></router-outlet>

  <app-footer></app-footer> -->

  <div >
    <app-header></app-header>
    <div class="container min-vh-100">
      <router-outlet></router-outlet>
     
    </div>
    <app-footer></app-footer>
  </div>

